/*  typography */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  line-height: 1.5;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: $text-color;
}

p, .paragraph {
  font-weight: 400;
  font-size: clamp(17px, 3vw, 21px);
  line-height: 1.5;
  font-family: $primary-font;
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  font-family: $secondary-font;
  font-weight: 600;
  line-height: 1.2;
}

h1, .h1{
  font-size: 80px;
  @include tablet {
    font-size: 55px;
  }
}

h2, .h2{
  font-size: 50px;
  @include tablet {
    font-size:45px;
  }
}

h3, .h3{
  font-size: 40px;
}

h4, .h4{
  font-size: 30px;
}

h5, .h5{
  font-size: 20px;
}

h6, .h6{
  font-size: 16px;
}
